.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 37px;
    right: 0px;
    background: transparent center no-repeat url(../../../images/edit-icon.svg);
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}