.add-popup__close-button {
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -40px;
    background: transparent center url(../../../images/close-icon.svg);
    background-size: 20px;
    border: none;
    cursor: pointer;
}

.add-popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 720px) {
    .add-popup__close-button {
        width: 32px;
        height: 32px;
        background-size: 32px;
        right: -40px;
    }
}