  .image-popup__close-button {
      padding: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      align-self: flex-end;
      right: 33px;
      top: 100px;
      background: transparent center url(../../../images/close-icon.svg);
      background-size: 20px;
      border: none;
      cursor: pointer;
  }
  
  .image-popup__close-button:hover {
      opacity: 0.6;
  }
  
  @media screen and (min-width: 720px) {
      .image-popup__close-button {
          width: 32px;
          height: 32px;
          background-size: 32px;
          top: 50px;
          right: 10px;
      }
  }